<nav class="navbar navbar-expand-lg py-1 d-flex justify-content-center">
    <div class="container">
        <a class="navbar-brand text-white d-flex align-items-center gap-2 fw-semibold" href="/">
            <img src="https://firebasestorage.googleapis.com/v0/b/apideployusers.appspot.com/o/apitime%2Fsunset.png?alt=media&token=151919ac-908a-45e8-ab49-3cd04e525014"
                alt="Platform logo" title="Platform logo" width="25">
            Weather
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end bg-dark px-4">
            <div class="offcanvas-header border-bottom py-2">
                <h5 class="offcanvas-title text-white fw-semibold">API doc</h5>
                <div type="button" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="bi bi-x-lg fs-6 text-white"></i>
                </div>
            </div>
            <div class="offcanvas-header border-top">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item d-flex align-items-center gap-3">
                        <i class="bi bi-pencil-square text-white"></i>
                        <a href="https://rapidapi.com" class="nav-link text-white fs-5" target="_blank"
                            rel="noopener">Rapidapi</a>
                    </li>
                    <li class="nav-item d-flex align-items-center gap-3">
                        <i class="bi bi-geo-alt text-white"></i>
                        <a href="http://openstreetmap.org" class="nav-link text-white fs-5" target="_blank"
                            rel="noopener">Streetmap</a>
                    </li>
                    <li class="nav-item d-flex align-items-center gap-3">
                        <i class="bi bi-cloud-drizzle text-white"></i>
                        <a href="https://openweathermap.org" class="nav-link text-white fs-5" target="_blank"
                            rel="noopener">Weathermap</a>
                    </li>
                    <li class="nav-item d-flex align-items-center gap-3">
                        <i class="bi bi-code-slash text-white"></i>
                        <a href="https://openweathermap.org" class="nav-link text-white fs-5" target="_blank"
                            rel="noopener">GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
        <div type="button" class="navbar-toggler p-0" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-list fs-2 text-white"></i>
        </div>
        <div class="d-none d-lg-inline-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-3">
                <li class="nav-item">
                    <a href="https://rapidapi.com" class="nav-link text-white fw-normal" target="_blank"
                        rel="noopener">Rapidapi</a>
                </li>
                <li class="nav-item">
                    <a href="http://openstreetmap.org" class="nav-link text-white fw-normal" target="_blank"
                        rel="noopener">Streetmap</a>
                </li>
                <li class="nav-item">
                    <a href="https://openweathermap.org" class="nav-link text-white fw-normal" target="_blank"
                        rel="noopener">Weathermap</a>
                </li>
            </ul>
        </div>
    </div>
</nav>