<nav class="navbar bg-white pt-4 pb-0 border-bottom d-flex justify-content-center">
    <div class="container d-flex align-items-start">
        <form class="form" role="search" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="d-flex flex-column">
                <div class="input-group">
                    <input type="text" class="form-control" (keydown)="displayNone()" placeholder="Search for a city"
                        formControlName="city" required>
                    <ul #list class="list-group">
                        <li class="list-group-item d-flex border align-items-center justify-content-between border-0"
                            *ngFor="let data of result" (click)="selectElement(data)">
                            <span>{{data.nameCountry}}</span>
                            <img src="https://openweathermap.org/images/flags/{{ data.country | lowercase }}.png">
                            <span>{{limitDecimals(data.lat)}}</span>
                            <span>{{limitDecimals(data.lon)}}</span>
                        </li>
                    </ul>
                    <button class="btn btn-outline-dark" type="submit" id="button-addon2">Search</button>
                </div>
                <div #nofound class="text-center no-found d-flex align-items-center justify-content-center">
                    Not found, please enter the name of a city.
                </div>
            </div>
        </form>
        <a class="navbar-brand fw-normal me-0" routerLink="/">Current weather data</a>
    </div>
</nav>