.section {
  min-height: 85vh;
}

.container {
  flex: 1 1;
}

.card {
  background-color: rgb(246, 247, 250);
  width: max-content;
}

.card-title{
  font-size:x-large
}

.text {
  font-family: "Outfit", sans-serif;
}

#map {
  height: 230px;
}

@media only screen and (max-width: 576px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

  .card {
    width: auto;
  }

  img {
    width: 85px;
    height: 85px
  }

  .temp {
    font-size: 50px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    padding-right: 9rem !important;
    padding-left: 9rem !important;
  }
}